{% extends 'base.html.twig' %}

{% block title %}Forgotten Password!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="h1 col-12 mt-3 mb-3 font-weight-normal text-center d-md-block d-none">Forgotten Password</h1>
            <div class="border text-center mt-4 col-8">
                <h2 class="h1 mb-3 font-weight-normal text-center d-none d-sm-block d-block d-md-none">Forgotten
                    Password</h2>
                {{ form_start(forgottenPasswordForm, { 'attr': {'class': 'mt-2'} }) }}
                {{ form_row(forgottenPasswordForm.username, { 'attr': {'class': 'text-center'} }) }}
                {{ form_row(forgottenPasswordForm.sendMail, { 'attr': {'class': 'text-center btn btn-primary'} }) }}
                {{ form_end(forgottenPasswordForm) }}
            </div>
        </div>
    </div>
{% endblock %}
